{
  "swagger": "2.0",
  "info": {
    "title": "Collision Engineers OCR Host",
    "description": "Custom connector over the Collision Engineers OCR host (Azure Functions on Azure Container Apps). Two operations: OcrPdf turns an image-only instruction PDF into text (and, when the engine is present, the 12-field EVA extraction) using in-container Tesseract or the managed Document Intelligence Read fallback; PlateOcr reads a UK registration plate from an overview vehicle photo (fast-alpr, or DI Read fallback) to set Evidence registrationVisible and VRM-match images. OCR_SCANNED_PDF_ENABLED / PLATE_OCR_ENABLED gating is enforced in the calling flow/Code App, NOT here.",
    "version": "1.0.0",
    "contact": {
      "name": "Collision Engineers — collisionspike"
    }
  },
  "host": "REPLACE-WITH-OCR-HOST.azurecontainerapps.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/ocr-pdf": {
      "post": {
        "summary": "OCR an image-only instruction PDF",
        "description": "Decode a base64 image-only PDF, run OCR (Tesseract in-container, or Document Intelligence Read when OCR_PROVIDER=docintel), and return the recognised text plus — when the parser engine is present in the image — the 12-field EVA extraction with provenance and the Case-identity vrm/reference. Invoke ONLY as a fallback for PDFs whose text extraction yielded ~no text.",
        "operationId": "OcrPdf",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OcrPdfRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OCR result (extraction may be null when only raw text was produced).",
            "schema": {
              "$ref": "#/definitions/OcrPdfResponse"
            }
          },
          "400": {
            "description": "Bad input (missing/invalid document, non-PDF filename, bad base64, bad JSON).",
            "schema": {
              "$ref": "#/definitions/OcrPdfResponse"
            }
          },
          "502": {
            "description": "OCR dependency failed.",
            "schema": {
              "$ref": "#/definitions/OcrPdfResponse"
            }
          }
        }
      }
    },
    "/plate-ocr": {
      "post": {
        "summary": "Read a registration plate from a vehicle photo",
        "description": "Decode a base64 overview photo and read the UK registration plate (fast-alpr detector+OCR, or Document Intelligence Read when PLATE_PROVIDER=docintel). Returns registration_visible (write to Evidence registrationVisible) and, when case_vrm is supplied, vrm_match (drives image-to-Case correlation / WhatsApp bulk match). M1 scope: recognition only — role tagging and reflection detection are M2.",
        "operationId": "PlateOcr",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlateOcrRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plate read result (registration_visible false when no plate found).",
            "schema": {
              "$ref": "#/definitions/PlateOcrResponse"
            }
          },
          "400": {
            "description": "Bad input (missing/invalid image, unsupported filename, bad base64, bad JSON).",
            "schema": {
              "$ref": "#/definitions/PlateOcrResponse"
            }
          },
          "502": {
            "description": "Plate OCR dependency failed.",
            "schema": {
              "$ref": "#/definitions/PlateOcrResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OcrPdfRequest": {
      "type": "object",
      "required": [
        "document",
        "filename"
      ],
      "properties": {
        "document": {
          "type": "string",
          "description": "Base64-encoded image-only PDF bytes. DO NOT add `format: byte` or `x-ms-media-kind: File` to this param: the Power Platform gateway then re-encodes the base64 a SECOND time and the host's decode yields garbage bytes (the same setting broke CS Parse intake 2026-06-19 — see the parser connector). The calling flow passes the RAW base64 string, NOT `@base64ToBinary(...)` (which feeds the gateway binary and 400s). The host's `_peel_double_base64` is TOLERANT (peels a redundant 2nd base64 layer, logging each recovery) — that tolerant decode is the load-bearing safeguard. See memory `powerplatform-connector-base64-double-encode`."
        },
        "filename": {
          "type": "string",
          "description": "Original filename WITH a .pdf extension."
        },
        "provider_hint": {
          "type": "string",
          "description": "Optional provider id or name to bias provider detection (engine path only)."
        }
      }
    },
    "FieldCell": {
      "type": "object",
      "description": "One EVA field value with provenance.",
      "properties": {
        "value": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "x-nullable": true
        },
        "source": {
          "type": "string",
          "description": "Extraction rule id / provenance label, or 'absent' when not supplied."
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Extraction": {
      "type": "object",
      "description": "The settled 12-field EVA extraction (present only when the engine ran). Keys in contract order.",
      "properties": {
        "work_provider": { "$ref": "#/definitions/FieldCell" },
        "vehicle_model": { "$ref": "#/definitions/FieldCell" },
        "claimant_name": { "$ref": "#/definitions/FieldCell" },
        "claimant_telephone": { "$ref": "#/definitions/FieldCell" },
        "claimant_email": { "$ref": "#/definitions/FieldCell" },
        "date_of_loss": { "$ref": "#/definitions/FieldCell" },
        "date_of_instruction": { "$ref": "#/definitions/FieldCell" },
        "accident_circumstances": { "$ref": "#/definitions/FieldCell" },
        "inspection_address": { "$ref": "#/definitions/FieldCell" },
        "vat_status": { "$ref": "#/definitions/FieldCell" },
        "mileage": { "$ref": "#/definitions/FieldCell" },
        "mileage_unit": { "$ref": "#/definitions/FieldCell" }
      }
    },
    "Issue": {
      "type": "object",
      "properties": {
        "field": { "type": "string" },
        "severity": { "type": "string" },
        "code": { "type": "string" },
        "message": { "type": "string" }
      }
    },
    "OcrPdfResponse": {
      "type": "object",
      "properties": {
        "extraction": {
          "$ref": "#/definitions/Extraction"
        },
        "vrm": {
          "$ref": "#/definitions/FieldCell",
          "description": "Case-identity (correlation/dedup). NOT part of the EVA payload."
        },
        "reference": {
          "$ref": "#/definitions/FieldCell",
          "description": "Case-identity (correlation/dedup). NOT part of the EVA payload."
        },
        "ocr_text": {
          "type": "string",
          "description": "Full recognised text from the OCR engine."
        },
        "page_count": {
          "type": "integer"
        },
        "ocr_provider": {
          "type": "string",
          "description": "Engine that ran: 'tesseract' or 'docintel'."
        },
        "issues": {
          "type": "array",
          "items": { "$ref": "#/definitions/Issue" }
        },
        "contract_version": {
          "type": "string"
        }
      }
    },
    "PlateOcrRequest": {
      "type": "object",
      "required": [
        "image",
        "filename"
      ],
      "properties": {
        "image": {
          "type": "string",
          "description": "Base64-encoded vehicle photo bytes (jpg/jpeg/png/bmp/tif/tiff/heif/heic/webp). DO NOT add `format: byte` or `x-ms-media-kind: File`: the Power Platform gateway then double-encodes the base64 and the plate read fails (the same landmine the parser connector hit). The caller passes the RAW base64 string (NOT `@base64ToBinary(...)`); the host's tolerant magic-byte/second-peel decode recovers a double-encoded payload either way. See memory `powerplatform-connector-base64-double-encode`."
        },
        "filename": {
          "type": "string",
          "description": "Original filename WITH a supported image extension."
        },
        "case_vrm": {
          "type": "string",
          "description": "Optional case registration to match against (normalised: uppercase, alphanumerics only)."
        }
      }
    },
    "PlateCandidate": {
      "type": "object",
      "properties": {
        "text": { "type": "string" },
        "confidence": {
          "type": "number",
          "format": "float",
          "x-nullable": true
        }
      }
    },
    "PlateOcrResponse": {
      "type": "object",
      "properties": {
        "plate_text": {
          "type": "string",
          "description": "Best plate read (display form). Empty when none found."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "x-nullable": true
        },
        "registration_visible": {
          "type": "boolean",
          "description": "A plausible registration plate was read. Write to Evidence registrationVisible."
        },
        "vrm_match": {
          "type": "boolean",
          "x-nullable": true,
          "description": "true/false when case_vrm supplied; null otherwise. Drives image-to-Case correlation."
        },
        "raw_candidates": {
          "type": "array",
          "items": { "$ref": "#/definitions/PlateCandidate" }
        },
        "plate_provider": {
          "type": "string",
          "description": "Engine that ran: 'fast_alpr' or 'docintel'."
        },
        "issues": {
          "type": "array",
          "items": { "$ref": "#/definitions/Issue" }
        },
        "contract_version": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "in": "header",
      "name": "x-functions-key",
      "description": "Azure Functions host/function key, stored on the custom connection. Never embedded in this definition."
    }
  },
  "security": [
    { "apiKeyHeader": [] }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://collisionengineers.example"
    },
    {
      "propertyName": "Authentication note",
      "propertyValue": "FUNCTION-level auth: the connector sends the function key as x-functions-key. Two operations share one connection. Gating (OCR_SCANNED_PDF_ENABLED / PLATE_OCR_ENABLED) is enforced upstream in the flow/Code App."
    }
  ]
}
